<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle">
      <p>AdonisJs simplicity will make you feel confident about your code</p>
      <p>
        Don't know where to start? Read the <a href="https://adonisjs.com/docs">documentation</a>.
      </p>
      <hr>
      <h4>Requirement :</h4>
      <ol>
        <li>Node.js >= 8.0.0</li>
        <li>npm >= 3.0.0</li>
      </ol>
      <h4>Installations :</h4>
      <ol>
        <li>npm i -g @adonisjs/cli (only in first time)</li>
        <li>adonis new yardstick</li>
      </ol>
      <h4>Installations with GIT :</h4>
      <ol>
        <li>clone from Adonis GIT</li>
        <li>npm install</li>
        <li>copy .env</li>
      </ol>
      <h4>Running :</h4>
      <ol>
        <li>adonis serve --dev</li>
      </ol>
    </div>
  </section>
</body>
</html>
